# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Maven Dependency Trees

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    continue-on-error: true
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven

    - name: Maven Dependency Tree for All
      run: |
        if [ ! -d "$GITHUB_WORKSPACE" ]; then
          echo "::warning ::Repository root directory not found, skipping."
          exit 0
        fi
        cd "$GITHUB_WORKSPACE"
        mvn -fn dependency:tree

    - name: Maven Dependency Tree for Aperture Capture Phantom
      run: |
        if [ ! -d "$GITHUB_WORKSPACE/aperture-capture-phantom" ]; then
          echo "::warning ::Directory not found, skipping."
          exit 0
        fi
        cd "$GITHUB_WORKSPACE/aperture-capture-phantom"
        mvn -fn dependency:tree

    - name: Maven Dependency Tree for Aperture Client
      run: |
        if [ ! -d "$GITHUB_WORKSPACE/aperture-client" ]; then
          echo "::warning ::Directory not found, skipping."
          exit 0
        fi
        cd "$GITHUB_WORKSPACE/aperture-client"
        mvn -fn dependency:tree

    - name: Maven Dependency Tree for Aperture CMS
      run: |
        if [ ! -d "$GITHUB_WORKSPACE/aperture-cms" ]; then
          echo "::warning ::Directory not found, skipping."
          exit 0
        fi
        cd "$GITHUB_WORKSPACE/aperture-cms"
        mvn -fn dependency:tree

    - name: Maven Dependency Tree for Aperture Common
      run: |
        if [ ! -d "$GITHUB_WORKSPACE/aperture-common" ]; then
          echo "::warning ::Directory not found, skipping."
          exit 0
        fi
        cd "$GITHUB_WORKSPACE/aperture-common"
        mvn -fn dependency:tree

    - name: Maven Dependency Tree for Aperture Distribution
      run: |
        if [ ! -d "$GITHUB_WORKSPACE/aperture-distribution" ]; then
          echo "::warning ::Directory not found, skipping."
          exit 0
        fi
        cd "$GITHUB_WORKSPACE/aperture-distribution"
        mvn -fn dependency:tree

    - name: Maven Dependency Tree for Aperture Examples
      run: |
        if [ ! -d "$GITHUB_WORKSPACE/aperture-examples" ]; then
          echo "::warning ::Directory not found, skipping."
          exit 0
        fi
        cd "$GITHUB_WORKSPACE/aperture-examples"
        mvn -fn dependency:tree

    - name: Maven Dependency Tree for Aperture Geo
      run: |
        if [ ! -d "$GITHUB_WORKSPACE/aperture-geo" ]; then
          echo "::warning ::Directory not found, skipping."
          exit 0
        fi
        cd "$GITHUB_WORKSPACE/aperture-geo"
        mvn -fn dependency:tree

    - name: Maven Dependency Tree for Aperture Graph
      run: |
        if [ ! -d "$GITHUB_WORKSPACE/aperture-graph" ]; then
          echo "::warning ::Directory not found, skipping."
          exit 0
        fi
        cd "$GITHUB_WORKSPACE/aperture-graph"
        mvn -fn dependency:tree

    - name: Maven Dependency Tree for Aperture Icons
      run: |
        if [ ! -d "$GITHUB_WORKSPACE/aperture-icons" ]; then
          echo "::warning ::Directory not found, skipping."
          exit 0
        fi
        cd "$GITHUB_WORKSPACE/aperture-icons"
        mvn -fn dependency:tree

    - name: Maven Dependency Tree for Aperture Layout Yworks
      run: |
        if [ ! -d "$GITHUB_WORKSPACE/aperture-layout-yworks" ]; then
          echo "::warning ::Directory not found, skipping."
          exit 0
        fi
        cd "$GITHUB_WORKSPACE/aperture-layout-yworks"
        mvn -fn dependency:tree

    - name: Maven Dependency Tree for Aperture Layout
      run: |
        if [ ! -d "$GITHUB_WORKSPACE/aperture-layout" ]; then
          echo "::warning ::Directory not found, skipping."
          exit 0
        fi
        cd "$GITHUB_WORKSPACE/aperture-layout"
        mvn -fn dependency:tree

    - name: Maven Dependency Tree for Aperture Parchment
      run: |
        if [ ! -d "$GITHUB_WORKSPACE/aperture-parchment" ]; then
          echo "::warning ::Directory not found, skipping."
          exit 0
        fi
        cd "$GITHUB_WORKSPACE/aperture-parchment"
        mvn -fn dependency:tree

    - name: Maven Dependency Tree for Aperture Server Core
      run: |
        if [ ! -d "$GITHUB_WORKSPACE/aperture-server-core" ]; then
          echo "::warning ::Directory not found, skipping."
          exit 0
        fi
        cd "$GITHUB_WORKSPACE/aperture-server-core"
        mvn -fn dependency:tree

    - name: Maven Dependency Tree for Aperture Server
      run: |
        if [ ! -d "$GITHUB_WORKSPACE/aperture-server" ]; then
          echo "::warning ::Directory not found, skipping."
          exit 0
        fi
        cd "$GITHUB_WORKSPACE/aperture-server"
        mvn -fn dependency:tree

    - name: Maven Dependency Tree for Aperture SPI
      run: |
        if [ ! -d "$GITHUB_WORKSPACE/aperture-spi" ]; then
          echo "::warning ::Directory not found, skipping."
          exit 0
        fi
        cd "$GITHUB_WORKSPACE/aperture-spi"
        mvn -fn dependency:tree

    - name: Maven Dependency Tree for Bitcoin
      run: |
        if [ ! -d "$GITHUB_WORKSPACE/bitcoin" ]; then
          echo "::warning ::Directory not found, skipping."
          exit 0
        fi
        cd "$GITHUB_WORKSPACE/bitcoin"
        mvn -fn dependency:tree

    - name: Maven Dependency Tree for Ensemble Clustering Spark
      run: |
        if [ ! -d "$GITHUB_WORKSPACE/ensemble-clustering-spark" ]; then
          echo "::warning ::Directory not found, skipping."
          exit 0
        fi
        cd "$GITHUB_WORKSPACE/ensemble-clustering-spark"
        mvn -fn dependency:tree

    - name: Maven Dependency Tree for Ensemble Clustering
      run: |
        if [ ! -d "$GITHUB_WORKSPACE/ensemble-clustering" ]; then
          echo "::warning ::Directory not found, skipping."
          exit 0
        fi
        cd "$GITHUB_WORKSPACE/ensemble-clustering"
        mvn -fn dependency:tree

    - name: Maven Dependency Tree for Ensemble Ensemble Clustering
      run: |
        if [ ! -d "$GITHUB_WORKSPACE/ensemble/ensemble-clustering" ]; then
          echo "::warning ::Directory not found, skipping."
          exit 0
        fi
        cd "$GITHUB_WORKSPACE/ensemble/ensemble-clustering"
        mvn -fn dependency:tree

    - name: Maven Dependency Tree for Ensemble
      run: |
        if [ ! -d "$GITHUB_WORKSPACE/ensemble" ]; then
          echo "::warning ::Directory not found, skipping."
          exit 0
        fi
        cd "$GITHUB_WORKSPACE/ensemble"
        mvn -fn dependency:tree

    - name: Maven Dependency Tree for Influent App
      run: |
        if [ ! -d "$GITHUB_WORKSPACE/influent-app" ]; then
          echo "::warning ::Directory not found, skipping."
          exit 0
        fi
        cd "$GITHUB_WORKSPACE/influent-app"
        mvn -fn dependency:tree

    - name: Maven Dependency Tree for Influent Client
      run: |
        if [ ! -d "$GITHUB_WORKSPACE/influent-client" ]; then
          echo "::warning ::Directory not found, skipping."
          exit 0
        fi
        cd "$GITHUB_WORKSPACE/influent-client"
        mvn -fn dependency:tree

    - name: Maven Dependency Tree for Influent Clustering
      run: |
        if [ ! -d "$GITHUB_WORKSPACE/influent-clustering-job" ]; then
          echo "::warning ::Directory not found, skipping."
          exit 0
        fi
        cd "$GITHUB_WORKSPACE/influent-clustering-job"
        mvn -fn dependency:tree

    - name: Maven Dependency Tree for Influent Selenium Test
      run: |
        if [ ! -d "$GITHUB_WORKSPACE/influent-selenium-test" ]; then
          echo "::warning ::Directory not found, skipping."
          exit 0
        fi
        cd "$GITHUB_WORKSPACE/influent-selenium-test"
        mvn -fn dependency:tree

    - name: Maven Dependency Tree for Influent Server
      run: |
        if [ ! -d "$GITHUB_WORKSPACE/influent-server" ]; then
          echo "::warning ::Directory not found, skipping."
          exit 0
        fi
        cd "$GITHUB_WORKSPACE/influent-server"
        mvn -fn dependency:tree

    - name: Maven Dependency Tree for Influent SPI
      run: |
        if [ ! -d "$GITHUB_WORKSPACE/influent-spi" ]; then
          echo "::warning ::Directory not found, skipping."
          exit 0
        fi
        cd "$GITHUB_WORKSPACE/influent-spi"
        mvn -fn dependency:tree

    - name: Maven Dependency Tree for Kiva
      run: |
        if [ ! -d "$GITHUB_WORKSPACE/kiva" ]; then
          echo "::warning ::Directory not found, skipping."
          exit 0
        fi
        cd "$GITHUB_WORKSPACE/kiva"
        mvn -fn dependency:tree

    - name: Maven Dependency Tree for Server
      run: |
        if [ ! -d "$GITHUB_WORKSPACE/server" ]; then
          echo "::warning ::Directory not found, skipping."
          exit 0
        fi
        cd "$GITHUB_WORKSPACE/server"
        mvn -fn dependency:tree

    - name: Maven Dependency Tree for Spotless
      run: |
        if [ ! -d "$GITHUB_WORKSPACE/spotless-maven-plugin" ]; then
          echo "::warning ::Directory not found, skipping."
          exit 0
        fi
        cd "$GITHUB_WORKSPACE/spotless-maven-plugin"
        mvn -fn dependency:tree

    - name: Maven Dependency Tree for Walker
      run: |
        if [ ! -d "$GITHUB_WORKSPACE/walker" ]; then
          echo "::warning ::Directory not found, skipping."
          exit 0
        fi
        cd "$GITHUB_WORKSPACE/walker"
        mvn -fn dependency:tree

    # Optional: Uploads the full dependency graph to GitHub to improve the quality of Dependabot alerts this repository can receive
    - name: Update dependency graph
      uses: advanced-security/maven-dependency-submission-action@571e99aab1055c2e71a1e2309b9691de18d6b7d6
